<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hifan -->
      <package
            uri="http://soton.ac.uk/models/hifan/2021"
            class="ac.soton.hifan.HifanPackage"
            genModel="model/hifan.genmodel"/>
   </extension>

</plugin>
